@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


.logo {
    font-family: 'Ribeye Marrow', serif;
    font-size: 60px;
}

.sub-heading{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: 300;
}

[data-testid=stSidebar] {
        background-color: #e4ddd7;
    }